.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 50px;
}

.user-card {
  background-color: blue;
}